<?xml version="1.0" encoding="UTF-8"?>
<!-- mapper DTD 선언 -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.avocado.statistics.db.mysql.repository.mybatis.ScoreMysqlRepository">

    <insert id="ageGenderSave">
        insert into age_gender_score (age, gender, score, merchandise_id)
        values (#{age}, #{gender}, #{score}, #{merchandiseId})
    </insert>

    <insert id="mbtiSave">
        insert into mbti_score (score, mbti_id, merchandise_id)
        values (#{score}, #{mbtiId}, #{merchandiseId})
    </insert>

    <insert id="personalColorSave">
        insert into personal_color_score (score, personal_color_id, merchandise_id)
        values (#{score}, #{personalColorId}, #{merchandiseId})
    </insert>

    <delete id="deleteAllAgeGender">
        truncate table age_gender_score
    </delete>

    <delete id="deleteAllMbti">
        truncate table mbti_score
    </delete>

    <delete id="deleteAllPersonalColor">
        truncate table personal_color_score
    </delete>

<!--    <select id="getAllByConsumerId" resultType="StyleshotResp">-->
<!--        select id, content, picture_url, rating, created_at from styleshot where consumer_id = #{consumerId}-->
<!--    </select>-->

<!--    <select id="getById" resultType="StyleshotResp">-->
<!--        select id, content, picture_url, rating, created_at from styleshot where id = #{styleshotId}-->
<!--    </select>-->

<!--    <select id="getByIdAndConsumerId" resultType="Long">-->
<!--        select id from styleshot where id = #{styleshotId} and consumer_id = #{consumerId}-->
<!--    </select>-->

<!--    <insert id="save" useGeneratedKeys="true" keyColumn="id" keyProperty="id">-->
<!--        insert into styleshot(content, picture_url, rating, created_at, updated_at, consumer_id)-->
<!--        values(#{content}, #{pictureUrl}, #{rating}, now(), now(), #{consumerId})-->
<!--    </insert>-->

<!--    <delete id="deleteById">-->
<!--        delete from styleshot-->
<!--        where id = #{styleshotId}-->
<!--    </delete>-->

    <!--    <update id="updateMember">-->
    <!--        update member set name = #{name}-->
    <!--        where id = #{id}-->
    <!--    </update>-->

</mapper>