<?xml version="1.0" encoding="UTF-8"?>
<!-- mapper DTD 선언 -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.avocado.community.db.repository.ConsumerRepository">

    <select id="findById" resultType="Consumer">
        select * from consumer
        where id = #{id}
    </select>

    <insert id="save">
        insert into consumer (id, name, picture_url)
        values (#{id}, #{info.consumerName}, #{info.pictureUrl})
    </insert>

    <update id="updateInfo">
        update consumer set age_group = #{info.ageGroup}, gender = #{info.gender},
        mbti_id = #{info.mbtiId}, personal_color_id = #{info.personalColorId} where id = #{id}
    </update>

    <delete id="delete">
        delete from consumer where id = #{id}
    </delete>

</mapper>