<?xml version="1.0" encoding="UTF-8"?>
<!-- mapper DTD 선언 -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.avocado.community.db.repository.MerchandiseRepository">

    <select id="getWearById" resultType="MerchandiseResp">
        select name, imgurl from merchandise
        where id in (select merchandise_id from wear where styleshot_id = #{styleshotId})
    </select>

</mapper>