<?xml version="1.0" encoding="UTF-8"?>
<!-- mapper DTD 선언 -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.avocado.community.db.repository.StyleshotRepository">

    <select id="getAll" resultType="Styleshot">
        select id, content, picture_url, created_at, updated_at, consumer_id from styleshot
    </select>

    <select id="getStyleshotCnt" resultType="int">
        SELECT COUNT(*) FROM styleshot WHERE consumer_id = #{consumerId}
    </select>

    <select id="getLikeCnt" resultType="int">
        SELECT COUNT(*) FROM styleshot_like
        WHERE styleshot_id IN (SELECT id FROM styleshot WHERE consumer_id = #{consumerId})
    </select>

    <select id="getAllPageable" resultType="Styleshot">
        select id, content, picture_url, created_at, updated_at, consumer_id from styleshot
        where id &lt; #{lastId} order by id desc limit #{resultSize}
    </select>

    <select id="getAllFirstPageable" resultType="Styleshot">
        select id, content, picture_url, created_at, updated_at, consumer_id from styleshot
        order by id desc limit #{resultSize}
    </select>


    <select id="getAllByConsumerId" resultType="Styleshot">
        select id, content, picture_url, created_at, updated_at, consumer_id from styleshot where consumer_id = #{consumerId}
    </select>

    <select id="getById" resultType="Styleshot">
        select id, content, picture_url, created_at, updated_at, consumer_id from styleshot where id = #{styleshotId}
    </select>

    <select id="getByIdAndConsumerId" resultType="Long">
        select id from styleshot where id = #{styleshotId} and consumer_id = #{consumerId}
    </select>

    <insert id="save" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        insert into styleshot(content, picture_url, created_at, updated_at, consumer_id)
        values(#{content}, #{pictureUrl}, now(), now(), #{consumerId})
    </insert>

    <delete id="deleteById">
        delete from styleshot
        where id = #{styleshotId}
    </delete>

<!--    <update id="updateMember">-->
<!--        update member set name = #{name}-->
<!--        where id = #{id}-->
<!--    </update>-->

</mapper>