<?xml version="1.0" encoding="UTF-8"?>
<!-- mapper DTD 선언 -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.avocado.community.db.mapper.ConsumerMapper">

    <select id="getConsumerList" resultType="Consumer">
        select * from consumer
    </select>

<!--    <select id="getMember" resultType="Member">-->
<!--        select * from member where id = #{id}-->
<!--    </select>-->

<!--    <insert id="createMember">-->
<!--        insert into member(name, id) values(#{name}, #{id})-->
<!--    </insert>-->

<!--    <delete id="deleteMember">-->
<!--        delete from member-->
<!--        where id = #{id}-->
<!--    </delete>-->

<!--    <update id="updateMember">-->
<!--        update member set name = #{name}-->
<!--        where id = #{id}-->
<!--    </update>-->

</mapper>